/*
Paleta
http://www.color-hex.com/color/3b444c
*/


* {
	font-family: 'Lato', sans-serif;
	color: #050607;
}

h1 {
	font-weight: 100;
}


/* BOTTOM BAR*/

#bottomBar {
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #050607;
	color: white;
	top: 100%;
	margin-top: -80px;
	z-index: 999999999999999999999;

}

#icon-holders {
	/*border: 1px solid red;*/
	height: 32px;
	position: relative;
	float: right;
	top: 26px;
	margin-right: 18px;
}


.icon-divider {
	display: inline-block;
	border-left: 2px solid white;
	width: 1px;
	height: 30px;
	margin-left: 10px;
}
.social-icon {
	width: 32px;
	height: 32px;
	/*border: 1px solid blue;*/
	display: inline-block;
	margin-left: 14px;
	cursor: pointer;
}

.social-icon.mail {
	background-image: url(../img/mail.png);
} 
.social-icon.github {
	background-image: url(../img/github-logo.png);
} 
.social-icon.bitbucket {
	background-image: url(../img/bitbucket.png);
} 
.social-icon.spotify {
	background-image: url(../img/spotify-logo.png);
} 
.social-icon.soundcloud {
	background-image: url(../img/soundcloud.png);
} 
.social-icon.linkedin {
	background-image: url(../img/linkedin.png);
} 


/*ZONES*/


.zone {
	width: 100%;
	position: relative;
/*	border-radius: 12px;
	border-width: 8px;
	border-color: white;
	border-style: solid;*/
	overflow: hidden;
}
body:last-child {
	margin-bottom: 80px;
}


/*PORTADA*/

.zone#portada {
	background-color: #c4c6c9;	
	border-radius: 12px;
	border-width: 8px;
	border-color: white;
	border-style: solid;
}
.portada-holder {
	text-align: center;
	height: 373px;
	position: relative;
	top: 50%;
	margin-top:-186px; 
}
.portada-holder > h1 {
	letter-spacing: 18px;
}
.portada-holder > h2{
	margin-top: -1px;
	letter-spacing: 6px;
}
.mifoto {
	border-radius: 50%;
	border: 4px solid white;
	box-sizing: border-box;
	width: 262px;
}



/*ABOUT ME*/

.zone#aboutme {
	color: white;
	background-color: #008080;	
}

.aboutme-holder {
	padding-top: 101px;
	padding-bottom: 101px;
}

.aboutme-holder > h1 {
	font-family: 'Architects Daughter', cursive;
	color: white;
	font-size: 86px;
	/*	margin-top: 101px;*/
}

.aboutme-holder > p {
	color: white;
	font-size: 49px;
	line-height: 45px;
	font-weight: 100;
	letter-spacing: 14px;
	word-spacing: 31px;
}


.instafoto {
	margin-top: -6px;
	margin-bottom: 0px;
	margin-right: -3px;
	margin-left: -1px;
	width: 20%;
	display: inline-block;
	background-size: cover !important;
	background-position: center;
}





/*My Skills*/

.zone#skills {

	background-color: white;	
	text-align: center;
}

.skills-holder {
	padding-top: 101px;
	padding-bottom: 101px;
}

.skills-holder > h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 86px;
	/*	margin-top: 101px;*/
}

.skills-list-holder {

	border: 1px solid #050607;
	padding: 30px;
	border-radius: 21px;
	background-color: red

}

.skills-list-holder > ul {
	font-size: 38px;
	list-style-type: tibetan;
	color: white
}

.skills-list-holder > ul > li {
	color: white
}



/*My Skills*/


.zone#contacto {

	background-color: #003b6f;	
	text-align: center;
}

.contacto-holder {
	padding-top: 101px;
	padding-bottom: 101px;
}

.contacto-holder > h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 86px;
	color: white;
}








#resolution {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: #2F4F4F;
	z-index: 999999999999;
	color: white;
	text-align: center;
	overflow: hidden;
	display: none;
}



/*works*/

.zone#works {
	overflow: hidden;	
}


.facility {position: relative; 
	width: 33.33333%; 
	/*min-width: 466.6666666666667px; */
	height: 400px; 
	float: left}

	body {margin: 0}

	/*section {min-width: 1400px}*/

	.facility_img {width: 100%; height: 100%; position: relative; top: 0; left: 0; z-index: 10; overflow: hidden}
	.facility_img .backstretch {transition: all .5s ease}
	.facility_img:hover {cursor: pointer}
	.facility_img:hover .backstretch {transform: scale(1.1);}
	.facility_img:before {content:attr(title); display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; color: #fff; font-size: 27px; text-transform: uppercase; text-align: center; line-height: 400px;  transition: all .5s ease}
	.facility_img:after {content: ''; width: 100%; height: 100%; background: none; position: absolute; top: 0; left: 0; transition: all .5s ease}
	.inactive .facility_img:after {background: rgba(255,255,255,.75);}
	.inactive .facility_img:hover {cursor: default}

	.active .facility_img {cursor: default}
	.active .facility_img:before {display: none}

	.facility_info {position: absolute; left: 0; top: 0; width: 100%; height: 400px; background: #fff; z-index: 9; transition: all .5s ease}
	.active .facility_info {z-index: 50}
	.facility_info .facility_title {color: #fff; text-transform: uppercase; font-size: 27px; text-align: center; line-height: 62px; height: 62px; width: 100%}
	.facility_info .facility_title .facility_close {cursor: pointer; font-size: 17px; line-height: 40px; position: absolute; right: 20px; top: 10px;}
	.facility_info .facility_desc {margin: 70px; font-size: 18px; line-height: 1.75}
	.facility_info .facility_desc.long {margin: 30px 35px;}
	.facility_info .facility_arrow {display: none; width: 30px; height: 30px; position: absolute; transform: rotate(45deg)}
	.active .facility_info .facility_arrow {display: block}
	.active .facility_img:hover .backstretch {transform: scale(1);}

	.no_content .facility_img:hover {cursor: default}
	.no_content .facility_img:hover:before {background: transparent}
	.no_content .facility_img:hover .backstretch {transform: scale(1);}

	/* Facility color settings ---------------------------------------------------------------------------------------------------- */
	.orange .facility_img:before {background: rgba(243,114,43,.86); }
	.orange .facility_title {background: rgb(243,114,43); }

	.red .facility_img:before {background: rgba(217,47,63,.86); }
	.red .facility_title {background: rgb(217,47,63); }

	.yellow .facility_img:before {background: rgba(244,214,14,.82); }
	.yellow .facility_title {background: rgb(244,214,14); }

	.blue .facility_img:before {background: rgba(15,190,211,.86); }
	.blue .facility_title {background: rgb(15,190,211); }

	/* Facility direction slide settings ---------------------------------------------------------------------------------------------------- */

	.active.slideDown .facility_info {top: 100%; box-shadow:  0px -2px 3px 0px rgba(0, 0, 0, 0.5)}
	.active.slideDown .facility_info .facility_arrow {left: 50%; margin-left: -15px; top: -15px; box-shadow: -3px -3px 3px 0px rgba(0,0,0,.25)}

	.orange.slideDown .facility_info .facility_arrow {background: rgb(243,114,43); }
	.red.slideDown .facility_info .facility_arrow {background: rgb(217,47,63); }
	.yellow.slideDown .facility_info .facility_arrow {background: rgb(244,214,14); }

	.active.slideLeft .facility_info {left: 100%; box-shadow: -2px 0px 3px 0px rgba(0, 0, 0, 0.5)}
	.active.slideLeft .facility_info .facility_arrow {left: -15px; top: 50%; background: #fff; box-shadow: -3px 3px 2px 0px rgba(0,0,0,.25)}

	.active.slideRight .facility_info {left: -100%; box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.5)}
	.active.slideRight .facility_info .facility_arrow {right: -15px; top: 50%; background: #fff; box-shadow: 3px -3px 2px 0px rgba(0,0,0,.25) }

	.active.slideUp .facility_info {top: -100%; box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5)}
	.active.slideUp .facility_info .facility_arrow {left: 50%; margin-left: -15px; bottom: -15px; background: #fff; box-shadow: 3px 3px 2px 0px rgba(0,0,0,.25)}




















	/*CONTACT FORM*/

	textarea {
		resize: none;
	}
	.form-label {
		font-size: 12px;
		color: white;
		margin: 0;
		display: block;
		opacity: 1;
		-webkit-transition: .333s ease top, .333s ease opacity;
		transition: .333s ease top, .333s ease opacity;
		font-family: 'Lato', sans-serif;
	}
	.form-control {
		border-radius: 0;
		border-color: #ccc;
		border-width: 0 0 2px 0;
		border-style: none none solid none;
		box-shadow: none;
		background-color: #003b6f;
		color: white;
		transition: .2s;
		font-family: 'Lato', sans-serif;

	}
	.form-control:focus {
		box-shadow: none;
		border-color: #5e9bfc;
		border-width: 0 0 4px 0;
	}

	.js-hide-label {
		opacity: 0; 	
	}
	.js-unhighlight-label {
		color: white; 
	}
	.btn-start-order {
		background: 0 0 #ffffff;
		border: 1px solid #2f323a;
		border-radius: 3px;
		color: #2f323a;
		font-size: 16px;
		line-height: inherit;
		margin: 30px 0;
		padding: 10px 50px;
		text-transform: uppercase;
		transition: all 0.25s ease 0s;
	}
	.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
		border-: #5e9bfc;
		color: #5e9bfc;
	}



	.button--saqui.button--inverted {
		background: #003b6f;
		color: white;
		border: 1px solid white;
		font-family: 'Lato', sans-serif;
		left: 50%;
		margin-left: -92px;
		margin-top: 85px;
	}




	.button--saqui.button--inverted::after {
		color: #003b6f;
		background-color: white
	}


































































	/*SIGNS*/

	.sign {
		position: relative;
		margin:100px 3em 0;
		left: 50%;
		margin-left: -196px;
		/* sign width */
		width: 398px;
		/* Give it a white border */
		border: 5px solid #fff;
		/* pad content text away from the edges of the sign */
		padding: 0.25em 1em .75em;
		/* give it a drop shadow and inset shadow at the top */
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
		/* setup a default background red and a red gradient where supported */
		background-color: #d10000;
		//background: linear-gradient(top, #ff9696 0%, #c80000 100%);
		/* attempt to get rid of jaggies when rotated */
		transform-style: preserve-3d;
		backface-visibility: hidden;
		/* nice rounded corners */
		border-radius: 15px;
		/* set the swing origin (nail body) */
		transform-origin: 50% -65px;
		/* animate the swing with pendulum-style easing */
		animation: swing 1.5s infinite alternate ease-in-out;
	}
	.sign:hover {
		/* Hover over the sign to stop the animation */
		/*animation-play-state: paused;*/
	}
	.sign P {
		/* Typography */
		font-smoothing: antialiased;
		/* let's have uppercase.. */
		text-transform: uppercase;
		/* Arial... */
		font-familty: Arial, sans-serif;
		/* bold... */
		font-weight: bold;
		/* white... */
		color: #fff;
		/* centered text */
		text-align: center;
		/* with a subtle drop shadow for definition */
		text-shadow: 0 0 2px rgba(0,0,0,1);
		/* kill any default P margins and center it */
		margin: 0 auto;
		line-height: normal;
	}
	.one {
		margin-left:200px;
	}
	.one P {
		font-size:1.5em;
		line-height:1.5em;
	}
	.one SPAN {
		font-size:0.55em;
		line-height:2em;
		display:block;
		margin-bottom:0;
	}
	.two P {
		font-size:1.3em;
		line-height:1.4em;
	}
	.two SPAN {
		display:block;
		padding-top:0.3em;
		font-size:1.1em;
	} 
	.three P {
		font-size: 3.8em;
		margin-bottom: 30px;	
	}
	.three SPAN {
		display:block;
		font-size:0.7em;
	}
	.sign IMG {
		display:block;
		width:186px;
		margin:auto;
	}
	.sign:before {
		/* string */
		position: absolute;
		content: "";
		/* string thickness/color */
		border: 2px dotted #444;
		/* hide string after connection with sign */
		border-bottom: none;
		border-left: none;
		/* string 'size' (as a -45deg rotated square) */
		width: 100px;
		height: 100px;
		/* string position */
		top: -55px;
		left: 50%;
		margin-left: -50px;
		/* string construct */
		transform: rotate(-45deg);
		/* string curved round nail body (unseen) */
		border-radius: 0 5px 0 0;
	}
	.sign:after {
		/* nail */
		position: absolute;
		content: "";
		/* nail head size */
		width: 10px;
		height: 10px;
		/* nail head as a circle */
		border-radius: 50%;
		/* nail position */
		top: -75px;
		left: 50%;
		margin-left: -4px;
		/* nail head default color + gradient (where supported) */
		background: #4c4c4c;
		background: linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	}
	/* sign swinging animation sequence */
	@keyframes swing {
		0% { transform: rotate(-3deg) }
		100% { transform: rotate(3deg) }
	}