@media only screen and (max-width: 950px) {
	#works {
		display: none;
	}
}


@media only screen and (max-width: 700px) {
	.aboutme-holder > p {
		letter-spacing: 6px;
		font-size: 18px;
		line-height: 20px;
	}
}

@media only screen and (max-width: 451px) {
	#resolution { 
		display: block;
	}

}